footer {
    padding: 12px, 20px;
    .page {
        div {
            width: 250px;
            margin: 20px auto;
            @include mq(small) {
                position: relative;
            }
            .shield {
                display: none;
                @include mq(small) {
                    display: block;
                    position: absolute;
                    top: -10px;
                    left: -50px;
                    width: 50px;
                    font-size: 50px;
                    margin: 0;
                    padding: 0;
                }
                 @include mq(medium) {
                     font-size: 80px;
                     left: -80px;
                 }
            }
            h2 {
                text-transform: uppercase;
                position: relative;
                margin: 0;
                line-height: 1;
                font-size: 20px;
                 @include mq(medium) {
                     font-size: 40px;
                 }
            }
            h3 {
                color: #757474;
                font-size: 15px;
                font-weight: 300;
                margin: 0;
                 @include mq(medium) {
                     font-size: 25px;
                     min-width: 400px;
                 }
            }
        }
        .social {
            p {
                a{
                    font-weight: bold;
                    text-transform: uppercase;
                    margin: 0 0.1em;
                    color: #a9e1ff;
                    text-decoration: none;
                }
            }
        }
    }
    small {
        display: block;
        color: #757474;
        font-weight: 300;
        text-align: center;
    }
}