.navigation {

    &__trigger {
        font-size: 30px;
        position: fixed;
        top: 15px;
        right: 15px;
        color: #3c6ca8;
        display: none;
    }
    &__nav {
        position: fixed;
        top: 80px;
        right: -250px;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        width: 220px;
        height: 280px;
        border: 1px solid #3c6ca8;   
        border-radius: 1px;
        padding: 5px;
        justify-content: center;
        transition: .5s;
        ul {
            list-style-type: none;
            text-align: center;
            line-height: 160%;          
            letter-spacing: 2px;
            margin: 0 auto;
            padding: 5px;

           
            li {
                
                a {
                    text-decoration: none;
                    color: #3c6ca8;
                    font-size: 20px;
                }
            }
        }
        
    }
    &__nav--open {
        right: 0px;
    }   
}