$breakepoints: (xsmall: 'min-width: 481px',
    small: 'min-width: 639px',
    medium: 'min-width: 850px',
    large: 'min-width: 1024px',
    xlarge: 'min-width: 1200px',
    xxlarge: 'min-width: 1440px'
);

@mixin mq($breakepoint) {
    $size: map-get($breakepoints, $breakepoint);

    @if $size {
        @media (#{$size}) {
            @content;
        }
    }

    @else {
        @error '"#{$breakepoint}" - nie rozpoznaje'
    }
}