@import './sets.scss';
@import './navigation';
@import './header';
@import './home';
@import './footer';
html {
    background: #2b2928 url(../img/footer.png) no-repeat fixed 50% 100%;
    background-size: auto 220px;
}
body {  
    color: white;
}
.wrapper {
    min-height: 100vh; 
    @include mq(xlarge) {
        max-width: 1200px;
        margin: 0 auto;
    }     
}